## This is the folder for your finished model. Please put it in here.

In [1]:
import pandas as pd
import numpy as np

In [9]:
active_losses = pd.read_csv('../data/Avtice-losses.csv', skiprows=1)
active_losses.head()

           Zeitstempel           kWh
0  2019-01-01 00:15:00  39143.346123
1  2019-01-01 00:30:00  32788.068958
2  2019-01-01 00:45:00  33018.915678
3  2019-01-01 01:00:00  34574.672936
4  2019-01-01 01:15:00  33417.095550

In [11]:
renew_gen_frc = pd.read_csv('../data/Forecast-renewable-generation.csv')

renew_gen_frc.head()

,datetime,solar_fore_de [MW],solar_fore_it [MW],wind_fore_de [MW],wind_fore_it [MW]
0,2019-01-01 00:00:00,0.0,0.0,21344.8514,4302.6977
1,2019-01-01 01:00:00,0.0,0.0,23052.3310,4596.5916
2,2019-01-01 02:00:00,0.0,0.0,24969.9701,4478.5564
3,2019-01-01 03:00:00,0.0,0.0,27082.9626,4323.3712
4,2019-01-01 04:00:00,0.0,0.0,26890.9717,4231.8283

In [15]:
temp_frc = pd.read_csv('../data/Forecast-temperature.csv')

temp_frc.head()

,datetime,temperature_fore_ch,temperature_fore_fr,temperature_fore_de,temperature_fore_it
0,2019-01-01 01:00:00,4.1067,5.9729,7.4268,4.0281
1,2019-01-01 07:00:00,1.7595,5.5398,6.3425,2.7281
2,2019-01-01 13:00:00,4.8823,8.6471,7.4596,7.7386
3,2019-01-01 19:00:00,3.1899,6.7846,5.2598,3.9186
4,2019-01-02 01:00:00,4.0144,6.4055,4.1154,3.5786

In [14]:
NTC = pd.read_csv('../data/NTC.csv')

NTC.head()

,datetime,CH_AT,CH_DE,CH_FR,CH_IT,AT_CH,DE_CH,FR_CH,IT_CH
0,2019-01-01 00:00:00,700.0,4000.0,1200.0,2513.0,1200.0,800.0,3000.0,1910.0
1,2019-01-01 01:00:00,700.0,4000.0,1200.0,2513.0,1200.0,800.0,3000.0,1910.0
2,2019-01-01 02:00:00,700.0,4000.0,1200.0,2513.0,1200.0,800.0,3000.0,1910.0
3,2019-01-01 03:00:00,700.0,4000.0,1200.0,2513.0,1200.0,800.0,3000.0,1910.0
4,2019-01-01 04:00:00,700.0,4000.0,1200.0,2513.0,1200.0,800.0,3000.0,1910.0

# Saving model

After training the model, it can be saved using either joblib or pickle. Both packages have the same functionalities. Supposing we already have prepared our training set, the saving is done as follows :

In [ ]:
import pickle
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()

model.fit(X_train, Y_train)

filename = "trained_model.pkl"

with open(filename, "wb") as file:
  pickle.dump(model, file)

The model can be then loaded and used for predictions :

In [ ]:
with open(filename, "rb") as file:
  model = pickle.load(file)

prediciton = model.predict(batch)